h3:first-child {
    color: pink;
}

#greycol {
    color:grey;
}

p:first-child {
    color: red;
}

p:nth-child(7) {
    color: green;
}

.yellow {
    color: yellow;
}

/* Завдання 2  */

/* 1 */


.n2-item-tittle:hover {
    color: rgb(255, 0, 255);
}

.n2-item-tittle:focus {
    color: rgb(255, 0, 255);
}

/* 2 */

.n2-item:nth-child(even) {
     color: red;
}

.n2-item:nth-child(odd) {
    color: blue;
}

.n2-item:nth-child(2) {
    color: green;
}

.n2-item:last-child {
    color: yellowgreen;
}

.n2-item:nth-child(4) {
    color: aqua;
}




